---
layout: default
images:
    - natco.jpg
    - peco.jpg
    - cover_1.jpg
---

{%- render "./_includes/widgets/navbar.liquid",
           logo: site.logo, sections: site.sections %}

{%- render "./_includes/widgets/building_carousel.liquid",
           images: images, sections: site.sections %}

<section id="about">
    <div class="content">
        {% renderFile "./_includes/sections/about.md" %}
    </div>
</section>

<section id="services"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2015/06/P0001965.jpg');">
    <div class="wrap-cont wrap-green">
        <div class="content">
            {% renderFile "./_includes/sections/services.md" %}
        <div/>
    <div/>
</section>

<section id="products">
    <div class="content">
        {% renderFile "./_includes/sections/products.md" %}
    </div>
</section>

<section id="colours"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2015/10/P0001960-square.jpg');">
    <div class="wrap-cont wrap-dark">
        <div class="content">
            {% render "./_includes/sections/colours.liquid", colours: colours %}
        <div/>
    <div/>
</section>

<section id="gallery" class="flex-column">
    <div class="content pb-0">
        <h1>PHOTO GALLERY</h1>
    </div>

    {% render "./_includes/sections/gallery.liquid", gallery: gallery, sec_link: "#gallery" %}
</section>

<section id="contact"
         class="parallax"
         style="background-image: url('http://brytex.com/wp-content/uploads/2016/01/Cover13-1024x732.jpg');">
    <div class="wrap-cont wrap-dark d-flex flex-column">
        {% render "./_includes/sections/contact.liquid", directions: site.directions %}
    <div/>
</section>

<div id="finisher" class="d-flex flex-column align-items-center py-4">
    <a href="#top" tabindex="-1">
        <button type="button" class="btn btn-outline-primary mb-3" aria-label="Return to top of page">
            <i class="fas fa-angles-up fa-bounce"></i>
        </button>
    </a>
    <p class="text-center text-muted">&copy; 2019 Brytex Building Systems Inc. All rights reserved.</p>
</div>
