---
title: Brytex Building Systems
images:
  - Album -2.jpg
  - Album -3.jpg
---
<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="./assets/main.css">
  <title>{{ title }}</title>
 </head>
 <body>
  <h1 id="pageTitle">{{ title }}</h1>
  <ul>
  {% for filename in images %}
   <li><a href="img/{{ filename }}">{{ filename }}</a></li>
  {% endfor %}
  </ul>

 </body>
 </html>