<div id="contactCarousel" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p>My</p>
        </div>
        <div class="carousel-item">
            <p>Name</p>
        </div>
        <div class="carousel-item">
            <p>Is</p>
        </div>
        <div class="carousel-item">
            <p>Jeff</p>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-target="#contactCarousel" data-bs-slide-to="0">Slide 1</button>
<button type="button" class="btn btn-primary" data-bs-target="#contactCarousel" data-bs-slide-to="1">Slide 2</button>
<button type="button" class="btn btn-primary" data-bs-target="#contactCarousel" data-bs-slide-to="2">Slide 3</button>
<button type="button" class="btn btn-primary" data-bs-target="#contactCarousel" data-bs-slide-to="3">Slide 4</button>
