<div id="contactCarousel" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="contact-card">Address</div>
        </div>
        <div class="carousel-item">
            <div class="contact-card">Contact Info</div>
        </div>
        <div class="carousel-item">
            <div class="contact-card">Staff</div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary mx-1" data-bs-target="#contactCarousel" data-bs-slide-to="0">Slide 1</button>
        <button type="button" class="btn btn-primary mx-1" data-bs-target="#contactCarousel" data-bs-slide-to="1">Slide 2</button>
        <button type="button" class="btn btn-primary mx-1" data-bs-target="#contactCarousel" data-bs-slide-to="2">Slide 3</button>
    </div>
</div>
