<div id="contactCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="contact-card mb-3">
                <h2 class="my-3">BRYTEX BUILDING SYSTEMS INC.</h2>
                <h2 class="my-3"><i class="fas fa-house-chimney"></i>5610 – 97 STREET, EDMONTON, AB. T6E 3J1</h2>
                <a class="btn btn-outline-light my-3" href="{{- directions -}}"
                    target="_blank">GET DIRECTIONS</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="contact-card mb-3">
                <h2>BRYTEX BUILDING SYSTEMS INC.</h2>
                <h3><i class="fas fa-envelope"></i><a href="mailto:brytex@brytex.com">BRYTEX@BRYTEX.COM</a></h3>
                <h3><i class="fas fa-phone"></i><a href="tel:+1-780-437-7970">TEL. 780-437-7970</a></h3>
                <h3><i class="fas fa-fax"></i><a href="tel:+1-780-437-5022">FAX. 780-437-5022</a></h3>
            </div>
        </div>
        <div class="carousel-item">
            <div class="contact-card mb-3">
                <h2>BRYTEX BUILDING SYSTEMS INC.</h2>
                <h3 class="mt-2 mb-1">ADMINISTRATION</h3>
                <p class="mb-1">President: Al Stix</p>
                <p class="mb-1">Controller: Darrell Stix</p>

                <h3 class="mt-2 mb-1">ESTIMATING & PROJECT MANAGEMENT</h3>
                <p class="mb-1">Industrial: Paul Stix</p>
                <p class="mb-1">Commercial: Colin Porte (<a href="mailto:colinp@brytex.com">ColinP@brytex.com</a>)</p>

                <h3 class="mt-2 mb-1">ENGINEERING & DRAFTING</h3>
                <p class="mb-1">Design Engineer</p>
                <p class="mb-1">Plant Manager</p>
                <p>Drafting Manager</p>
            </div>
        </div>
    </div>

    <div class="carousel-indicators" style="position: relative;">
        <button type="button" data-bs-target="#contactCarousel" data-bs-slide-to="0" class="my-1 mx-4 active" aria-current="true" aria-label="Address">
            <i class="fas fa-house-chimney"></i>
        </button>
        <button type="button" data-bs-target="#contactCarousel" data-bs-slide-to="1" class="my-1 mx-4" aria-label="Contact">
            <i class="fas fa-phone"></i>
        </button>
        <button type="button" data-bs-target="#contactCarousel" data-bs-slide-to="2" class="my-1 mx-4" aria-label="Staff">
            <i class="fas fa-users"></i>
        </button>
    </div>
</div>
