<div class="galleryGrid">
    <a class="galleryItem" href="{{- sec_link -}}">
        <img src="http://brytex.com/wp-content/uploads/2016/01/SelfFramingBuildings_2.jpg"/>
        <div class="projectInfo">SELF FRAMING BUILDINGS</div>
    </a>
</div>
