@import "./base/_bootstrap_overrides.scss";
@import "./vendor/_bootstrap.scss";

$smallDrop: drop-shadow(2px 2px 0px rgb(0 0 0 / 75%));
$navHeight: 64px;

.carousel {
    height: calc(100vh - $navHeight);
    width: 100%;

    .carousel-indicators {
        button { filter: $smallDrop; }
    }

    .carousel-inner {
        height: 100%;
        width: 100%;

        .carousel-item {
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .carousel-control-prev, .carousel-control-next {
        .carousel-control-prev-icon, .carousel-control-next-icon {
            filter: $smallDrop;
        }
    }
}

.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--bs-body-bg);
    font-weight: bold;
    box-shadow: 0px -5px 20px -5px rgb(0 0 0 / 50%);

    * {
        padding: 0px 1.25rem;

        img {
            height: $navHeight;
            padding: 0px 1rem;
        }
    }
}

.content {
    margin: 0 64px;
    padding: 60px 20px;

    h1 {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 800;
        color: var(--bs-body-bg);
        background-color: $primary;
        padding: 10px;
    }
}

#finisher { height: $navHeight; }
