@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

$smallDrop: drop-shadow(2px 2px 0px rgb(0 0 0 / 75%));
$navHeight: 64px;

.carousel {
    height: calc(100vh - $navHeight);
    width: 100%;

    .carousel-indicators {
        button {
            filter: $smallDrop;
        }
    }

    .carousel-inner {
        height: 100%;
        width: 100%;

        .carousel-item {
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .carousel-control-prev, .carousel-control-next {
        .carousel-control-prev-icon, .carousel-control-next-icon {
            filter: $smallDrop;
        }
    }
}
