<nav id="navigation" class="navbar navbar-expand-xl justify-content-center
                            align-items-center py-0 shadow bottom-i bottom-xl-0
                            top-0 top-xl-i">
    <div class="container-fluid">
        <div class="d-flex d-xl-none w-100 justify-content-end
                    position-relative topContainer">
            <a class="navbar-brand mx-0 topBrand"
               aria-current="page" href="">
                <img src="{{ logo }}" alt="Brytex Logo">
            </a>
            <button class="navbar-toggler text-muted" type="button"
                    data-bs-toggle="collapse" data-bs-target=".navbarItems"
                    aria-controls="navbarItems" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end navbarItems
                    w-100">
            <ul class="navbar-nav flex-column flex-xl-row">
        {%- for s in sections -%}
            <li class="nav-item d-
                       {%- if s.lgHide -%}
                           none d-lg-
                       {%- endif -%}
                       flex align-items-center border-secondary py-1 py-xl-0"
                {% if forloop.last == true -%}
                    style="border: none;"
                {%- endif %}
            {%- if forloop.first == true %}
                aria-current="true">
                <a class="nav-link active" 
            {%- endif -%}
                >
                <a class="nav-link" 
                   href="#{{ s.link }}">
                        {{- s.name | upcase -}}
                    </a>
                </li>
        {%- if forloop.index == forloop.rindex or
               forloop.index0 == forloop.rindex or
               forloop.length == 2 %}
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-center
                    flex-shrink-1">
            <a class="navbar-brand bottomBrand" aria-current="page" href="">
                <img src="{{ logo }}" alt="Brytex Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-start navbarItems
                    w-100">
            <ul class="navbar-nav flex-column flex-xl-row">
        {%- endif %}
        {%- endfor %}
            </ul>
        </div>
    </div>
</nav>
