<nav id="navigation" class="navbar navbar-expand-xl justify-content-center
                            align-items-center py-0">
    <div class="container-fluid">
        <div class="d-flex d-xl-none w-100 justify-content-end
                    position-relative topContainer">
            <a class="navbar-brand mx-0 topBrand"
               aria-current="page" href="">
                <img src="{{ logo }}" alt="Brytex Logo">
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target=".navbarNer"
                    aria-controls="navbarNer" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end navbarNer
                    w-100">
            <ul class="navbar-nav flex-column flex-xl-row">
                <li class="nav-item d-flex align-items-center"
                    aria-current="true">
                    <a class="nav-link active" href="#buildingCarousel">HOME</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#about">ABOUT BRYTEX</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#services">SERVICES</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#products">PRODUCTS</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-center
                    flex-shrink-1">
            <a class="navbar-brand bottomBrand" aria-current="page" href="">
                <img src="{{ logo }}" alt="Brytex Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-start navbarNer
                    w-100">
            <ul class="navbar-nav flex-column flex-xl-row">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#colours">COLOUR CHART</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#gallery">PHOTO GALLERY</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
